{% extends "base.html" %}

{% block content %}
  <form method="post" class="col-lg-3" role="form" action="{% url 'django.contrib.auth.views.login' %}">
  <h2>Please sign in</h2>
  {% csrf_token %}
    <input id="id_username" type="text" name="username" placeholder="Mobile Number" class="form-control col-lg-8" required autofocus/>
    <input id="id_password" type="password" name="password" placeholder="Password" class="form-control col-lg-8" required>
<button style="margin-top:10px;" class="btn btn-primary btn-block" type="submit">Login</button>
</form>

{% endblock %}
