<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>{% block title %}Branch Management Homepage{% endblock %}</title>
</head>

<body>
    <div>
      {% if not user.name %}
      <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
      <a href="/staffing/register">Register</a>
      {% else %}
      Welcome {{user}},
      <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
      {% endif %}
    </div>
    <div class="bs-component">
    <ul class="nav nav-pills">
      <li><a href="/staffing/">Home</a></li>
      <li><a href="/staffing/register/">Register</a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Branches <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/staffing/branch/">Add a Branch</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
<script type="text/javascript">
  jQuery(document).ready(function($){
    var url = window.location.pathname;
    // Will only work if string in href matches with location
    var selector = '.bs-component ul.nav li a[href="' + url + '"]'
    $(selector).parent().addClass('active');
    console.log(selector);
  });
</script>
</body>
</html>
