{% extends "base.html" %}

{% block title %}Welcome to the Hospital Management Home page{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-10">
<div class="jumbotron">
  <h1>Welcome,<h1>
  <p>
    Dr Mehta’s Hospital is amongst the most experienced and respected healthcare providers in India with over 80 years of pedigree of clinical excellence, patient care and family warmth.
  </p>
</div>
<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Staff Database</h2>
    <p>
      Record and maintain employee details such as previous experiences, contacts, skills and certifications. Employees can just use their mobile number in place of emails. Even appraisals are hassle free.
    </p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Leave Management</h2>
    <p>
      Placing leave requests for employees and deciding on leave requests for supervisors have never been so easy. Can also be done via a couple of SMS transactions. Helps employees who have no computer access.
    </p>
  </div>
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Roster Management</h2>
    <p>
      Forget your paper and pen or spreadsheets. Our Interactive roster suite just makes your life so easier. Employees set shift reminders. Get suggestions for shift swapping and granting Leaves. In short, efficient Roster planning helps you to focus more on your work.
    </p>
  </div>
</div>
</div>
{% endblock %}
