{% extends "base.html" %}

{% block title %}List of Leaves{% endblock %}

{% block content %}

{% if not leaves %}No leaves submitted yet.{% endif %}
<div class="page-header">
<h2>Subordinates Leave History</h2>
</div>
  <div class="table-repsonsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Staff Name</th>
      <th>Leave Type</th>
      <th>Leave From</th>
      <th>Leave To</th>
      <th>Applied On</th>
      <th>Reason</th>
      <th>Approved On</th>
      <th>Comments</th>
      <th>Take Action</th>
    </tr>
  </thead>
  <tbody>
    {% for leave in leaves %}
    <tr>
      <td>{{ leave.staff.name }}</td>
      <td>{{ leave.type }}</td>
      <td>{{ leave.leave_from }}</td>
      <td>{{ leave.leave_to }}</td>
      <td>{{ leave.applied_on }}</td>
      <td>{{ leave.reason }}</td>
      <td>{{ leave.approved_on }}</td>
      <td>
        {% if leave.status == 'open' %}
          <form method="post" action="">
            {% csrf_token %}
            <div>Your comments:<textarea rows="5" cols="50" name="comments" required></textarea></div>
        {% else %}
          {{ leave.comments }}
        {% endif %}
      </td>
      <td>
        {% if leave.status == 'open' %}
          <div class="btn-group-vertical">
            <button type="submit" class="btn btn-success" name="approve">Approve</button>
            <button type="submit" name="reject" class="btn btn-danger">Reject</button>
            <button type="submit" name="withhold" class="btn btn-warning">With Hold</button>
            <input type="hidden" name="leaveid" value="{{leave.id}}"/>
          </div>
          </form>
        {% else %}
          {{ leave.status }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
